docs/14-APR.Blueprints/8. Integration Google Docs.blueprint.json
{
    "name": "8. Integration Google Docs",
    "flow": [
        {
            "id": 12,
            "module": "clickup:watchTasks",
            "version": 2,
            "parameters": {
                "__IMTHOOK__": 1709649
            },
            "mapper": {},
            "metadata": {
                "designer": {
                    "x": 0,
                    "y": 150
                },
                "restore": {
                    "parameters": {
                        "__IMTHOOK__": {
                            "data": {
                                "editable": "false"
                            },
                            "label": "Add to Wordpress"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "__IMTHOOK__",
                        "type": "hook:clickup",
                        "label": "Webhook",
                        "required": true
                    }
                ]
            }
        },
        {
            "id": 17,
            "module": "builtin:BasicRouter",
            "version": 1,
            "mapper": null,
            "metadata": {
                "designer": {
                    "x": 300,
                    "y": 150
                }
            },
            "routes": [
                {
                    "flow": [
                        {
                            "id": 19,
                            "module": "clickup:getATask",
                            "version": 2,
                            "parameters": {
                                "__IMTCONN__": 3384277
                            },
                            "filter": {
                                "name": "Draft",
                                "conditions": [
                                    [
                                        {
                                            "a": "{{12.history_items[].custom_field.id}}",
                                            "b": "b4cc20f5-24d0-499a-81c4-551e122a5935",
                                            "o": "text:equal"
                                        },
                                        {
                                            "a": "{{12.history_items[].after.id}}",
                                            "b": "7312e8bb-1853-4147-b9f6-be035ad703c6",
                                            "o": "text:equal"
                                        }
                                    ]
                                ]
                            },
                            "mapper": {
                                "task_id": "{{12.task_id}}",
                                "map_or_select": "map"
                            },
                            "metadata": {
                                "designer": {
                                    "x": 600,
                                    "y": 0
                                },
                                "restore": {
                                    "expect": {
                                        "map_or_select": {
                                            "label": "Map"
                                        }
                                    },
                                    "parameters": {
                                        "__IMTCONN__": {
                                            "data": {
                                                "scoped": "true",
                                                "connection": "clickup2"
                                            },
                                            "label": "My ClickUp connection (Red)"
                                        }
                                    }
                                },
                                "parameters": [
                                    {
                                        "name": "__IMTCONN__",
                                        "type": "account:clickup2",
                                        "label": "Connection",
                                        "required": true
                                    }
                                ],
                                "expect": [
                                    {
                                        "name": "map_or_select",
                                        "type": "select",
                                        "label": "Map or Select",
                                        "required": true,
                                        "validate": {
                                            "enum": [
                                                "map",
                                                "select"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "task_id",
                                        "type": "text",
                                        "label": "Task ID",
                                        "required": true
                                    },
                                    {
                                        "name": "map_or_select",
                                        "type": "select",
                                        "label": "Map or Select",
                                        "required": true,
                                        "validate": {
                                            "enum": [
                                                "map",
                                                "select"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "task_id",
                                        "type": "text",
                                        "label": "Task ID",
                                        "required": true
                                    }
                                ],
                                "interface": [
                                    {
                                        "name": "id",
                                        "type": "text",
                                        "label": "Task ID"
                                    },
                                    {
                                        "name": "name",
                                        "type": "text",
                                        "label": "Task Name"
                                    },
                                    {
                                        "name": "custom_id",
                                        "type": "text",
                                        "label": "Custom ID"
                                    },
                                    {
                                        "name": "description",
                                        "type": "text",
                                        "label": "Description"
                                    },
                                    {
                                        "name": "text_content",
                                        "type": "text",
                                        "label": "Text Content"
                                    },
                                    {
                                        "name": "status",
                                        "spec": [
                                            {
                                                "name": "status",
                                                "type": "text",
                                                "label": "Status"
                                            },
                                            {
                                                "name": "color",
                                                "type": "color",
                                                "label": "Color"
                                            },
                                            {
                                                "name": "type",
                                                "type": "text",
                                                "label": "Type"
                                            },
                                            {
                                                "name": "orderindex",
                                                "type": "number",
                                                "label": "Order Index"
                                            }
                                        ],
                                        "type": "collection",
                                        "label": "Status"
                                    },
                                    {
                                        "name": "orderindex",
                                        "type": "text",
                                        "label": "Order Index"
                                    },
                                    {
                                        "name": "date_created",
                                        "type": "date",
                                        "label": "Date Created"
                                    },
                                    {
                                        "name": "date_updated",
                                        "type": "date",
                                        "label": "Date Updated"
                                    },
                                    {
                                        "name": "date_closed",
                                        "type": "date",
                                        "label": "Date Closed"
                                    },
                                    {
                                        "name": "archived",
                                        "type": "boolean",
                                        "label": "Archived"
                                    },
                                    {
                                        "name": "creator",
                                        "spec": [
                                            {
                                                "name": "id",
                                                "type": "number",
                                                "label": "User ID"
                                            },
                                            {
                                                "name": "username",
                                                "type": "text",
                                                "label": "Username"
                                            },
                                            {
                                                "name": "color",
                                                "type": "color",
                                                "label": "Color"
                                            },
                                            {
                                                "name": "profilePicture",
                                                "type": "text",
                                                "label": "Profile Picture"
                                            },
                                            {
                                                "name": "email",
                                                "type": "text",
                                                "label": "Email"
                                            }
                                        ],
                                        "type": "collection",
                                        "label": "Creator"
                                    },
                                    {
                                        "name": "assignees",
                                        "spec": {
                                            "spec": [
                                                {
                                                    "name": "id",
                                                    "type": "number",
                                                    "label": "User ID"
                                                },
                                                {
                                                    "name": "username",
                                                    "type": "text",
                                                    "label": "Username"
                                                },
                                                {
                                                    "name": "color",
                                                    "type": "color",
                                                    "label": "Color"
                                                },
                                                {
                                                    "name": "initials",
                                                    "type": "text",
                                                    "label": "Initials"
                                                },
                                                {
                                                    "name": "profilePicture",
                                                    "type": "url",
                                                    "label": "Profile Picture"
                                                },
                                                {
                                                    "name": "email",
                                                    "type": "email",
                                                    "label": "Email"
                                                }
                                            ],
                                            "type": "collection"
                                        },
                                        "type": "array",
                                        "label": "Assignees"
                                    },
                                    {
                                        "name": "checklists",
                                        "spec": [
                                            {
                                                "name": "id",
                                                "type": "text",
                                                "label": "ID"
                                            },
                                            {
                                                "name": "task_id",
                                                "type": "text",
                                                "label": "Task ID"
                                            },
                                            {
                                                "name": "name",
                                                "type": "text",
                                                "label": "Name"
                                            },
                                            {
                                                "name": "date_created",
                                                "type": "date",
                                                "label": "Date Created"
                                            },
                                            {
                                                "name": "orderindex",
                                                "type": "number",
                                                "label": "Orderindex"
                                            },
                                            {
                                                "name": "creator",
                                                "type": "number",
                                                "label": "Creator"
                                            },
                                            {
                                                "name": "resolved",
                                                "type": "number",
                                                "label": "Resolved"
                                            },
                                            {
                                                "name": "unresolved",
                                                "type": "number",
                                                "label": "Unresolved"
                                            },
                                            {
                                                "name": "items",
                                                "spec": {
                                                    "spec": [
                                                        {
                                                            "name": "id",
                                                            "type": "text",
                                                            "label": "ID"
                                                        },
                                                        {
                                                            "name": "name",
                                                            "type": "text",
                                                            "label": "Name"
                                                        },
                                                        {
                                                            "name": "orderindex",
                                                            "type": "number",
                                                            "label": "Orderindex"
                                                        },
                                                        {
                                                            "name": "assignee",
                                                            "type": "text",
                                                            "label": "Assignee"
                                                        },
                                                        {
                                                            "name": "group_assignee",
                                                            "type": "text",
                                                            "label": "Group Assignee"
                                                        },
                                                        {
                                                            "name": "resolved",
                                                            "type": "boolean",
                                                            "label": "Resolved"
                                                        },
                                                        {
                                                            "name": "parent",
                                                            "type": "text",
                                                            "label": "Parent"
                                                        },
                                                        {
                                                            "name": "date_created",
                                                            "type": "date",
                                                            "label": "Date Created"
                                                        },
                                                        {
                                                            "name": "children",
                                                            "type": "array",
                                                            "label": "Children"
                                                        }
                                                    ],
                                                    "type": "collection"
                                                },
                                                "type": "array",
                                                "label": "Items"
                                            }
                                        ],
                                        "type": "array",
                                        "label": "Checklists"
                                    },
                                    {
                                        "name": "watchers",
                                        "spec": {
                                            "spec": [
                                                {
                                                    "name": "id",
                                                    "type": "number",
                                                    "label": "User ID"
                                                },
                                                {
                                                    "name": "username",
                                                    "type": "text",
                                                    "label": "Username"
                                                },
                                                {
                                                    "name": "color",
                                                    "type": "color",
                                                    "label": "Color"
                                                },
                                                {
                                                    "name": "initials",
                                                    "type": "text",
                                                    "label": "Initials"
                                                },
                                                {
                                                    "name": "profilePicture",
                                                    "type": "url",
                                                    "label": "Profile Picture"
                                                },
                                                {
                                                    "name": "email",
                                                    "type": "email",
                                                    "label": "Email"
                                                }
                                            ],
                                            "type": "collection"
                                        },
                                        "type": "array",
                                        "label": "Watchers"
                                    },
                                    {
                                        "name": "tags",
                                        "spec": {
                                            "spec": [
                                                {
                                                    "name": "name",
                                                    "type": "text",
                                                    "label": "Name"
                                                },
                                                {
                                                    "name": "creator",
                                                    "type": "text",
                                                    "label": "Creator"
                                                },
                                                {
                                                    "name": "tag_fg",
                                                    "type": "color",
                                                    "label": "Tag Fg"
                                                },
                                                {
                                                    "name": "tag_bg",
                                                    "type": "color",
                                                    "label": "Tag Bg"
                                                }
                                            ],
                                            "type": "collection"
                                        },
                                        "type": "array",
                                        "label": "Tags"
                                    },
                                    {
                                        "name": "parent",
                                        "type": "text",
                                        "label": "Parent"
                                    },
                                    {
                                        "name": "linked_tasks",
                                        "spec": {
                                            "spec": [
                                                {
                                                    "name": "task_id",
                                                    "type": "text",
                                                    "label": "Task ID"
                                                },
                                                {
                                                    "name": "link_id",
                                                    "type": "text",
                                                    "label": "Link ID"
                                                },
                                                {
                                                    "name": "date_created",
                                                    "type": "date",
                                                    "label": "Date Created"
                                                },
                                                {
                                                    "name": "userid",
                                                    "type": "text",
                                                    "label": "User ID"
                                                },
                                                {
                                                    "name": "workspace_id",
                                                    "type": "text",
                                                    "label": "Workspace ID"
                                                }
                                            ],
                                            "type": "collection"
                                        },
                                        "type": "array",
                                        "label": "Linked Tasks"
                                    },
                                    {
                                        "name": "permission_level",
                                        "type": "text",
                                        "label": "Permission Level"
                                    },
                                    {
                                        "name": "priority",
                                        "spec": [
                                            {
                                                "name": "id",
                                                "type": "text",
                                                "label": "ID"
                                            },
                                            {
                                                "name": "priority",
                                                "type": "text",
                                                "label": "Priority"
                                            },
                                            {
                                                "name": "color",
                                                "type": "color",
                                                "label": "Color"
                                            },
                                            {
                                                "name": "orderindex",
                                                "type": "text",
                                                "label": "Order Index"
                                            }
                                        ],
                                        "type": "collection",
                                        "label": "Priority"
                                    },
                                    {
                                        "name": "due_date",
                                        "type": "date",
                                        "label": "Due Date"
                                    },
                                    {
                                        "name": "start_date",
                                        "type": "date",
                                        "label": "Start Date"
                                    },
                                    {
                                        "name": "points",
                                        "type": "text",
                                        "label": "Points"
                                    },
                                    {
                                        "name": "time_estimate",
                                        "type": "integer",
                                        "label": "Time Estimate (in minutes)"
                                    },
                                    {
                                        "name": "time_spent",
                                        "type": "uinteger",
                                        "label": "Time Spent"
                                    },
                                    {
                                        "name": "list",
                                        "spec": [
                                            {
                                                "name": "id",
                                                "type": "text",
                                                "label": "List ID"
                                            },
                                            {
                                                "name": "name",
                                                "type": "text",
                                                "label": "List Name"
                                            },
                                            {
                                                "name": "access",
                                                "type": "boolean",
                                                "label": "Access"
                                            }
                                        ],
                                        "type": "collection",
                                        "label": "List"
                                    },
                                    {
                                        "name": "project",
                                        "spec": [
                                            {
                                                "name": "id",
                                                "type": "text",
                                                "label": "Project ID"
                                            },
                                            {
                                                "name": "name",
                                                "type": "text",
                                                "label": "Project Name"
                                            },
                                            {
                                                "name": "hidden",
                                                "type": "boolean",
                                                "label": "Hidden"
                                            },
                                            {
                                                "name": "access",
                                                "type": "boolean",
                                                "label": "Access"
                                            }
                                        ],
                                        "type": "collection",
                                        "label": "Project"
                                    },
                                    {
                                        "name": "folder",
                                        "spec": [
                                            {
                                                "name": "id",
                                                "type": "text",
                                                "label": "Folder ID"
                                            },
                                            {
                                                "name": "name",
                                                "type": "text",
                                                "label": "Folder Name"
                                            },
                                            {
                                                "name": "hidden",
                                                "type": "boolean",
                                                "label": "Hidden"
                                            },
                                            {
                                                "name": "access",
                                                "type": "boolean",
                                                "label": "Access"
                                            }
                                        ],
                                        "type": "collection",
                                        "label": "Folder"
                                    },
                                    {
                                        "name": "space",
                                        "spec": [
                                            {
                                                "name": "id",
                                                "type": "text",
                                                "label": "Space ID"
                                            }
                                        ],
                                        "type": "collection",
                                        "label": "Space"
                                    },
                                    {
                                        "name": "dependencies",
                                        "spec": {
                                            "spec": [
                                                {
                                                    "name": "task_id",
                                                    "type": "text",
                                                    "label": "Task ID"
                                                },
                                                {
                                                    "name": "depends_on",
                                                    "type": "text",
                                                    "label": "Depends On Task ID"
                                                },
                                                {
                                                    "name": "type",
                                                    "type": "number",
                                                    "label": "Type"
                                                },
                                                {
                                                    "name": "date_created",
                                                    "type": "date",
                                                    "label": "Date Created"
                                                },
                                                {
                                                    "name": "userid",
                                                    "type": "text",
                                                    "label": "User ID"
                                                },
                                                {
                                                    "name": "workspace_id",
                                                    "type": "text",
                                                    "label": "Workspace ID"
                                                }
                                            ],
                                            "type": "collection"
                                        },
                                        "type": "array",
                                        "label": "Dependencies"
                                    },
                                    {
                                        "name": "team_id",
                                        "type": "text",
                                        "label": "Workspace ID"
                                    },
                                    {
                                        "name": "url",
                                        "type": "url",
                                        "label": "URL"
                                    },
                                    {
                                        "name": "custom_fields_original",
                                        "spec": {
                                            "spec": [
                                                {
                                                    "name": "id",
                                                    "type": "text",
                                                    "label": "ID"
                                                },
                                                {
                                                    "name": "name",
                                                    "type": "text",
                                                    "label": "Name"
                                                },
                                                {
                                                    "name": "type",
                                                    "type": "text",
                                                    "label": "Type"
                                                },
                                                {
                                                    "name": "type_config",
                                                    "spec": [],
                                                    "type": "collection",
                                                    "label": "Type Config"
                                                },
                                                {
                                                    "name": "date_created",
                                                    "type": "date",
                                                    "label": "Date Created"
                                                },
                                                {
                                                    "name": "hide_from_guests",
                                                    "type": "boolean",
                                                    "label": "Hide From Guests"
                                                },
                                                {
                                                    "name": "value",
                                                    "type": "any",
                                                    "label": "Value"
                                                },
                                                {
                                                    "name": "required",
                                                    "type": "boolean",
                                                    "label": "Required"
                                                }
                                            ],
                                            "type": "collection"
                                        },
                                        "type": "array",
                                        "label": "Custom Fields (original)"
                                    },
                                    {
                                        "name": "custom_fields",
                                        "spec": [],
                                        "type": "collection",
                                        "label": "Custom Fields"
                                    },
                                    {
                                        "name": "attachments",
                                        "spec": {
                                            "spec": [
                                                {
                                                    "name": "id",
                                                    "type": "text",
                                                    "label": "ID"
                                                },
                                                {
                                                    "name": "date",
                                                    "type": "date",
                                                    "label": "Date"
                                                },
                                                {
                                                    "name": "title",
                                                    "type": "text",
                                                    "label": "Title"
                                                },
                                                {
                                                    "name": "type",
                                                    "type": "number",
                                                    "label": "Type"
                                                },
                                                {
                                                    "name": "source",
                                                    "type": "number",
                                                    "label": "Source"
                                                },
                                                {
                                                    "name": "version",
                                                    "type": "number",
                                                    "label": "Version"
                                                },
                                                {
                                                    "name": "extension",
                                                    "type": "text",
                                                    "label": "Extension"
                                                },
                                                {
                                                    "name": "thumbnail_small",
                                                    "type": "text",
                                                    "label": "Thumbnail Small"
                                                },
                                                {
                                                    "name": "thumbnail_medium",
                                                    "type": "text",
                                                    "label": "Thumbnail Medium"
                                                },
                                                {
                                                    "name": "thumbnail_large",
                                                    "type": "text",
                                                    "label": "Thumbnail Large"
                                                },
                                                {
                                                    "name": "is_folder",
                                                    "type": "text",
                                                    "label": "Is Folder"
                                                },
                                                {
                                                    "name": "mimetype",
                                                    "type": "text",
                                                    "label": "Mimetype"
                                                },
                                                {
                                                    "name": "hidden",
                                                    "type": "boolean",
                                                    "label": "Hidden"
                                                },
                                                {
                                                    "name": "parent_id",
                                                    "type": "text",
                                                    "label": "Parent ID"
                                                },
                                                {
                                                    "name": "size",
                                                    "type": "number",
                                                    "label": "Size"
                                                },
                                                {
                                                    "name": "total_comments",
                                                    "type": "number",
                                                    "label": "Total Comments"
                                                },
                                                {
                                                    "name": "resolved_comments",
                                                    "type": "number",
                                                    "label": "Resolved Comments"
                                                },
                                                {
                                                    "name": "user",
                                                    "spec": [
                                                        {
                                                            "name": "id",
                                                            "type": "number",
                                                            "label": "ID"
                                                        },
                                                        {
                                                            "name": "username",
                                                            "type": "text",
                                                            "label": "Username"
                                                        },
                                                        {
                                                            "name": "email",
                                                            "type": "text",
                                                            "label": "Email"
                                                        },
                                                        {
                                                            "name": "initials",
                                                            "type": "text",
                                                            "label": "Initials"
                                                        },
                                                        {
                                                            "name": "color",
                                                            "type": "text",
                                                            "label": "Color"
                                                        },
                                                        {
                                                            "name": "profilePicture",
                                                            "type": "text",
                                                            "label": "Profile Picture"
                                                        }
                                                    ],
                                                    "type": "collection",
                                                    "label": "User"
                                                },
                                                {
                                                    "name": "deleted",
                                                    "type": "boolean",
                                                    "label": "Deleted"
                                                },
                                                {
                                                    "name": "orientation",
                                                    "type": "text",
                                                    "label": "Orientation"
                                                },
                                                {
                                                    "name": "url",
                                                    "type": "text",
                                                    "label": "URL"
                                                },
                                                {
                                                    "name": "email_data",
                                                    "type": "text",
                                                    "label": "Email Data"
                                                },
                                                {
                                                    "name": "url_w_query",
                                                    "type": "text",
                                                    "label": "URL W Query"
                                                },
                                                {
                                                    "name": "url_w_host",
                                                    "type": "text",
                                                    "label": "URL W Host"
                                                }
                                            ],
                                            "type": "collection"
                                        },
                                        "type": "array",
                                        "label": "Attachments"
                                    }
                                ]
                            }
                        },
                        {
                            "id": 20,
                            "module": "util:SetVariable2",
                            "version": 1,
                            "parameters": {},
                            "mapper": {
                                "name": "Document ID",
                                "scope": "roundtrip",
                                "value": "{{replace(replace(19.custom_fields.`Document Link`; \"https://docs.google.com/document/d/\"; emptystring); \"/edit?usp=drivesdk\"; emptystring)}}"
                            },
                            "metadata": {
                                "designer": {
                                    "x": 900,
                                    "y": 0
                                },
                                "restore": {
                                    "expect": {
                                        "scope": {
                                            "label": "One cycle"
                                        }
                                    }
                                },
                                "expect": [
                                    {
                                        "name": "name",
                                        "type": "text",
                                        "label": "Variable name",
                                        "required": true
                                    },
                                    {
                                        "name": "scope",
                                        "type": "select",
                                        "label": "Variable lifetime",
                                        "required": true,
                                        "validate": {
                                            "enum": [
                                                "roundtrip",
                                                "execution"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "value",
                                        "type": "any",
                                        "label": "Variable value"
                                    }
                                ],
                                "interface": [
                                    {
                                        "name": "Document ID",
                                        "type": "any",
                                        "label": "Document ID"
                                    }
                                ]
                            }
                        },
                        {
                            "id": 1,
                            "module": "google-docs:getADocument",
                            "version": 1,
                            "parameters": {
                                "__IMTCONN__": 3341392
                            },
                            "mapper": {
                                "filter": "image",
                                "select": "map",
                                "document": "{{20.`Document ID`}}"
                            },
                            "metadata": {
                                "designer": {
                                    "x": 1200,
                                    "y": 0
                                },
                                "restore": {
                                    "expect": {
                                        "filter": {
                                            "label": "Image"
                                        },
                                        "select": {
                                            "label": "By Mapping"
                                        }
                                    },
                                    "parameters": {
                                        "__IMTCONN__": {
                                            "data": {
                                                "scoped": "true",
                                                "connection": "google"
                                            },
                                            "label": "My Google connection (red@thecaptainworks.com)"
                                        }
                                    }
                                },
                                "parameters": [
                                    {
                                        "name": "__IMTCONN__",
                                        "type": "account:google",
                                        "label": "Connection",
                                        "required": true
                                    }
                                ],
                                "expect": [
                                    {
                                        "name": "select",
                                        "type": "select",
                                        "label": "Get Content of a Document",
                                        "required": true,
                                        "validate": {
                                            "enum": [
                                                "map",
                                                "dropdown"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "filter",
                                        "type": "select",
                                        "label": "Filter",
                                        "required": true,
                                        "validate": {
                                            "enum": [
                                                "image",
                                                "drawing",
                                                "chart"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "document",
                                        "type": "text",
                                        "label": "Document ID",
                                        "required": true
                                    }
                                ]
                            }
                        },
                        {
                            "id": 11,
                            "module": "util:SetVariables",
                            "version": 1,
                            "parameters": {},
                            "filter": {
                                "name": "Document Exist",
                                "conditions": [
                                    [
                                        {
                                            "a": "{{1.title}}",
                                            "o": "exist"
                                        }
                                    ]
                                ]
                            },
                            "mapper": {
                                "scope": "roundtrip",
                                "variables": [
                                    {
                                        "name": "Title Font",
                                        "value": "{{1.namedStyles.styles[2].textStyle.fontSize.magnitude}}"
                                    },
                                    {
                                        "name": "Paragraph Font",
                                        "value": "{{1.namedStyles.styles[5].textStyle.fontSize.magnitude}}"
                                    }
                                ]
                            },
                            "metadata": {
                                "designer": {
                                    "x": 1500,
                                    "y": 0
                                },
                                "restore": {
                                    "expect": {
                                        "scope": {
                                            "label": "One cycle"
                                        },
                                        "variables": {
                                            "items": [
                                                null,
                                                null
                                            ]
                                        }
                                    }
                                },
                                "expect": [
                                    {
                                        "name": "variables",
                                        "spec": [
                                            {
                                                "name": "name",
                                                "type": "text",
                                                "label": "Variable name",
                                                "required": true
                                            },
                                            {
                                                "name": "value",
                                                "type": "any",
                                                "label": "Variable value"
                                            }
                                        ],
                                        "type": "array",
                                        "label": "Variables"
                                    },
                                    {
                                        "name": "scope",
                                        "type": "select",
                                        "label": "Variable lifetime",
                                        "required": true,
                                        "validate": {
                                            "enum": [
                                                "roundtrip",
                                                "execution"
                                            ]
                                        }
                                    }
                                ],
                                "interface": [
                                    {
                                        "name": "Title Font",
                                        "type": "any",
                                        "label": "Title Font"
                                    },
                                    {
                                        "name": "Paragraph Font",
                                        "type": "any",
                                        "label": "Paragraph Font"
                                    }
                                ]
                            }
                        },
                        {
                            "id": 8,
                            "module": "markdown:Compile",
                            "version": 2,
                            "parameters": {},
                            "mapper": {
                                "gfm": true,
                                "data": "{{replace(1.text; 1.title; emptystring)}}",
                                "sanitize": false
                            },
                            "metadata": {
                                "designer": {
                                    "x": 1800,
                                    "y": 0
                                },
                                "restore": {
                                    "expect": {
                                        "gfm": {
                                            "mode": "chose"
                                        },
                                        "sanitize": {
                                            "mode": "chose"
                                        }
                                    }
                                },
                                "expect": [
                                    {
                                        "name": "data",
                                        "type": "text",
                                        "label": "Markdown"
                                    },
                                    {
                                        "name": "gfm",
                                        "type": "boolean",
                                        "label": "GitHub Flavored Markdown",
                                        "required": true
                                    },
                                    {
                                        "name": "sanitize",
                                        "type": "boolean",
                                        "label": "Sanitize",
                                        "required": true
                                    }
                                ]
                            }
                        },
                        {
                            "id": 4,
                            "module": "wordpress:createPost",
                            "version": 3,
                            "parameters": {
                                "__IMTCONN__": 3342508
                            },
                            "mapper": {
                                "type": "posts",
                                "title": "{{1.title}}",
                                "author": 3,
                                "format": "image",
                                "status": "draft",
                                "content": "<html>\n<head>\n<style>\n    h1 {\n        font-size: {{11.`Title Font`}}px;\n    }\n    p {\n        font-size: {{11.`Paragraph Font`}}px;\n    }\n</style>\n</head>\n\n<body>\n        <img src=\"{{1.inlineObjects.`kix.ra8zmwck5pyq`.inlineObjectProperties.embeddedObject.imageProperties.contentUri}}\" alt=\"{{1.title}}\">\n\n    <h1>{{1.title}}</h1>\n    <p>{{8.data}}</p>\n</body>\n</html>"
                            },
                            "metadata": {
                                "designer": {
                                    "x": 2100,
                                    "y": 0
                                },
                                "restore": {
                                    "expect": {
                                        "meta": {
                                            "mode": "chose"
                                        },
                                        "tags": {
                                            "mode": "chose"
                                        },
                                        "type": {
                                            "mode": "chose",
                                            "label": "Posts"
                                        },
                                        "author": {
                                            "mode": "chose",
                                            "label": "ben"
                                        },
                                        "format": {
                                            "mode": "chose",
                                            "label": "Image"
                                        },
                                        "status": {
                                            "mode": "chose",
                                            "label": "Draft"
                                        },
                                        "sticky": {
                                            "mode": "chose"
                                        },
                                        "taxonomy": {
                                            "mode": "chose"
                                        },
                                        "categories": {
                                            "mode": "chose"
                                        },
                                        "pingStatus": {
                                            "mode": "chose",
                                            "label": "Empty"
                                        },
                                        "commentStatus": {
                                            "mode": "chose",
                                            "label": "Empty"
                                        }
                                    },
                                    "parameters": {
                                        "__IMTCONN__": {
                                            "data": {
                                                "scoped": "true",
                                                "connection": "wordpress4"
                                            },
                                            "label": "My WordPress connection (rakib)"
                                        }
                                    }
                                },
                                "parameters": [
                                    {
                                        "name": "__IMTCONN__",
                                        "type": "account:wordpress4",
                                        "label": "Connection",
                                        "required": true
                                    }
                                ],
                                "expect": [
                                    {
                                        "name": "title",
                                        "type": "text",
                                        "label": "Title",
                                        "required": true
                                    },
                                    {
                                        "name": "content",
                                        "type": "text",
                                        "label": "Content",
                                        "required": true
                                    },
                                    {
                                        "name": "type",
                                        "type": "select",
                                        "label": "Type",
                                        "required": true
                                    },
                                    {
                                        "name": "excerpt",
                                        "type": "text",
                                        "label": "Excerpt"
                                    },
                                    {
                                        "name": "date",
                                        "type": "date",
                                        "label": "Date"
                                    },
                                    {
                                        "name": "slug",
                                        "type": "text",
                                        "label": "Slug"
                                    },
                                    {
                                        "name": "status",
                                        "type": "select",
                                        "label": "Status"
                                    },
                                    {
                                        "name": "format",
                                        "type": "select",
                                        "label": "Format"
                                    },
                                    {
                                        "name": "parent",
                                        "type": "number",
                                        "label": "Parent object ID"
                                    },
                                    {
                                        "name": "categories",
                                        "type": "select",
                                        "label": "Categories",
                                        "multiple": true
                                    },
                                    {
                                        "name": "tags",
                                        "type": "select",
                                        "label": "Tags",
                                        "multiple": true
                                    },
                                    {
                                        "name": "author",
                                        "type": "select",
                                        "label": "Author"
                                    },
                                    {
                                        "name": "featuredMedia",
                                        "type": "number",
                                        "label": "Featured media ID"
                                    },
                                    {
                                        "name": "template",
                                        "type": "text",
                                        "label": "Template"
                                    },
                                    {
                                        "name": "password",
                                        "type": "text",
                                        "label": "Password"
                                    },
                                    {
                                        "name": "sticky",
                                        "type": "boolean",
                                        "label": "Sticky"
                                    },
                                    {
                                        "name": "commentStatus",
                                        "type": "select",
                                        "label": "Comment status",
                                        "validate": {
                                            "enum": [
                                                "open",
                                                "closed"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "pingStatus",
                                        "type": "select",
                                        "label": "Ping status",
                                        "validate": {
                                            "enum": [
                                                "open",
                                                "closed"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "taxonomy",
                                        "spec": [
                                            {
                                                "name": "name",
                                                "type": "text",
                                                "label": "Name",
                                                "required": true
                                            },
                                            {
                                                "name": "values",
                                                "type": "array",
                                                "label": "Values",
                                                "required": true
                                            }
                                        ],
                                        "type": "array",
                                        "label": "Additional fields"
                                    },
                                    {
                                        "name": "meta",
                                        "spec": [
                                            {
                                                "name": "name",
                                                "type": "text",
                                                "label": "Name",
                                                "required": true
                                            },
                                            {
                                                "name": "value",
                                                "type": "text",
                                                "label": "Value"
                                            }
                                        ],
                                        "type": "array",
                                        "label": "Metadata (custom fields)"
                                    }
                                ]
                            }
                        },
                        {
                            "id": 21,
                            "module": "clickup:editATask",
                            "version": 2,
                            "parameters": {
                                "__IMTCONN__": 3384277
                            },
                            "mapper": {
                                "list_id": "901702639226",
                                "task_id": "{{19.id}}",
                                "team_id": "8555561",
                                "space_id": "90170914605",
                                "assignees": {},
                                "folder_id": "90171662663",
                                "custom_fields": {
                                    "bed79fd7-9ccd-497c-b836-dcec0bae8556": "https://chrischornohos.com/wp-admin/post.php?post={{4.id}}&action=edit"
                                },
                                "addCustomFieldDateTime": false
                            },
                            "metadata": {
                                "designer": {
                                    "x": 2400,
                                    "y": 0
                                },
                                "restore": {
                                    "expect": {
                                        "status": {
                                            "mode": "chose",
                                            "label": "Empty"
                                        },
                                        "list_id": {
                                            "label": "Automations [Tasks: 3]"
                                        },
                                        "task_id": {
                                            "mode": "edit"
                                        },
                                        "team_id": {
                                            "label": "BC WorkSpace"
                                        },
                                        "archived": {
                                            "mode": "chose"
                                        },
                                        "priority": {
                                            "mode": "chose",
                                            "label": "Empty"
                                        },
                                        "space_id": {
                                            "label": "Marketing"
                                        },
                                        "assignees": {
                                            "nested": {
                                                "add": {
                                                    "mode": "chose"
                                                },
                                                "rem": {
                                                    "mode": "chose"
                                                }
                                            }
                                        },
                                        "folder_id": {
                                            "label": "Automations & WF[Lists: 1]"
                                        },
                                        "notify_all": {
                                            "mode": "chose"
                                        },
                                        "contentType": {
                                            "label": "Plain Text"
                                        },
                                        "custom_fields": {
                                            "nested": {
                                                "1036d19b-5a9d-4d1c-a507-429425bb0788": {
                                                    "mode": "chose",
                                                    "label": "Empty"
                                                },
                                                "b4cc20f5-24d0-499a-81c4-551e122a5935": {
                                                    "mode": "chose",
                                                    "label": "Empty"
                                                }
                                            }
                                        },
                                        "due_date_time": {
                                            "mode": "chose"
                                        },
                                        "start_date_time": {
                                            "mode": "chose"
                                        },
                                        "time_estimate_in": {
                                            "label": "Empty"
                                        }
                                    },
                                    "parameters": {
                                        "__IMTCONN__": {
                                            "data": {
                                                "scoped": "true",
                                                "connection": "clickup2"
                                            },
                                            "label": "My ClickUp connection (Red)"
                                        }
                                    }
                                },
                                "parameters": [
                                    {
                                        "name": "__IMTCONN__",
                                        "type": "account:clickup2",
                                        "label": "Connection",
                                        "required": true
                                    }
                                ],
                                "expect": [
                                    {
                                        "name": "team_id",
                                        "type": "select",
                                        "label": "Workspace",
                                        "required": true
                                    },
                                    {
                                        "name": "space_id",
                                        "type": "select",
                                        "label": "Space",
                                        "required": true
                                    },
                                    {
                                        "name": "folder_id",
                                        "type": "select",
                                        "label": "Folder",
                                        "required": true
                                    },
                                    {
                                        "name": "list_id",
                                        "type": "select",
                                        "label": "List",
                                        "required": true
                                    },
                                    {
                                        "name": "task_id",
                                        "type": "select",
                                        "label": "Task ID",
                                        "required": true
                                    },
                                    {
                                        "name": "name",
                                        "type": "text",
                                        "label": "Task Name"
                                    },
                                    {
                                        "name": "contentType",
                                        "type": "select",
                                        "label": "Content Type",
                                        "validate": {
                                            "enum": [
                                                "markdown"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "content",
                                        "type": "text",
                                        "label": "Content"
                                    },
                                    {
                                        "name": "assignees",
                                        "spec": [
                                            {
                                                "name": "add",
                                                "type": "select",
                                                "label": "Add",
                                                "multiple": true
                                            },
                                            {
                                                "name": "rem",
                                                "type": "select",
                                                "label": "Remove",
                                                "multiple": true
                                            }
                                        ],
                                        "type": "collection",
                                        "label": "Assignees"
                                    },
                                    {
                                        "name": "status",
                                        "type": "select",
                                        "label": "Status"
                                    },
                                    {
                                        "name": "priority",
                                        "type": "select",
                                        "label": "Priority",
                                        "validate": {
                                            "enum": [
                                                "urgent",
                                                "high",
                                                "normal",
                                                "low",
                                                "none"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "due_date",
                                        "type": "date",
                                        "label": "Due Date"
                                    },
                                    {
                                        "name": "due_date_time",
                                        "type": "boolean",
                                        "label": "Due Date Time"
                                    },
                                    {
                                        "name": "time_estimate_in",
                                        "type": "select",
                                        "label": "Estimated Time in",
                                        "validate": {
                                            "enum": [
                                                "m",
                                                "h",
                                                "d"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "start_date",
                                        "type": "date",
                                        "label": "Start Date"
                                    },
                                    {
                                        "name": "start_date_time",
                                        "type": "boolean",
                                        "label": "Start Date Time"
                                    },
                                    {
                                        "name": "notify_all",
                                        "type": "boolean",
                                        "label": "Notify All"
                                    },
                                    {
                                        "name": "archived",
                                        "type": "boolean",
                                        "label": "Archived"
                                    },
                                    {
                                        "name": "custom_fields",
                                        "spec": [
                                            {
                                                "name": "1036d19b-5a9d-4d1c-a507-429425bb0788",
                                                "type": "select",
                                                "label": "Generate a document"
                                            },
                                            {
                                                "name": "33c99e63-679c-45d8-a070-39873ff268f3",
                                                "type": "text",
                                                "label": "Image Description"
                                            },
                                            {
                                                "name": "b4cc20f5-24d0-499a-81c4-551e122a5935",
                                                "type": "select",
                                                "label": "Publish in Wordpress"
                                            },
                                            {
                                                "name": "bed79fd7-9ccd-497c-b836-dcec0bae8556",
                                                "type": "text",
                                                "label": "Wordpress Link"
                                            },
                                            {
                                                "name": "cb4ea1f7-37c4-4ac5-a981-1a0efcb70c54",
                                                "type": "text",
                                                "label": "Document Link"
                                            }
                                        ],
                                        "type": "collection",
                                        "label": "Custom Fields"
                                    },
                                    {
                                        "name": "addCustomFieldDateTime",
                                        "type": "boolean",
                                        "label": "Include a Time in Custom Field Date Parameters",
                                        "required": true
                                    }
                                ]
                            }
                        }
                    ]
                },
                {
                    "disabled": true,
                    "flow": [
                        {
                            "id": 13,
                            "module": "google-docs:getADocument",
                            "version": 1,
                            "parameters": {
                                "__IMTCONN__": 3341392
                            },
                            "filter": {
                                "name": "Publish",
                                "conditions": [
                                    [
                                        {
                                            "a": "{{12.history_items[].custom_field.id}}",
                                            "b": "b4cc20f5-24d0-499a-81c4-551e122a5935",
                                            "o": "text:equal"
                                        },
                                        {
                                            "a": "{{12.history_items[].after.id}}",
                                            "b": "f5c361f2-8071-4453-ad72-d772c445fb4c",
                                            "o": "text:equal"
                                        }
                                    ]
                                ]
                            },
                            "mapper": {
                                "filter": "image",
                                "select": "map",
                                "document": "1uvkOI-0jl8dZPIz57YR5nsVV96uiTZvDVokk676dtRA"
                            },
                            "metadata": {
                                "designer": {
                                    "x": 600,
                                    "y": 300
                                },
                                "restore": {
                                    "expect": {
                                        "filter": {
                                            "label": "Image"
                                        },
                                        "select": {
                                            "label": "By Mapping"
                                        }
                                    },
                                    "parameters": {
                                        "__IMTCONN__": {
                                            "data": {
                                                "scoped": "true",
                                                "connection": "google"
                                            },
                                            "label": "My Google connection (red@thecaptainworks.com)"
                                        }
                                    }
                                },
                                "parameters": [
                                    {
                                        "name": "__IMTCONN__",
                                        "type": "account:google",
                                        "label": "Connection",
                                        "required": true
                                    }
                                ],
                                "expect": [
                                    {
                                        "name": "select",
                                        "type": "select",
                                        "label": "Get Content of a Document",
                                        "required": true,
                                        "validate": {
                                            "enum": [
                                                "map",
                                                "dropdown"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "filter",
                                        "type": "select",
                                        "label": "Filter",
                                        "required": true,
                                        "validate": {
                                            "enum": [
                                                "image",
                                                "drawing",
                                                "chart"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "document",
                                        "type": "text",
                                        "label": "Document ID",
                                        "required": true
                                    }
                                ]
                            }
                        },
                        {
                            "id": 14,
                            "module": "util:SetVariables",
                            "version": 1,
                            "parameters": {},
                            "mapper": {
                                "scope": "roundtrip",
                                "variables": [
                                    {
                                        "name": "Title Font",
                                        "value": "{{13.namedStyles.styles[2].textStyle.fontSize.magnitude}}"
                                    },
                                    {
                                        "name": "Paragraph Font",
                                        "value": "{{13.namedStyles.styles[5].textStyle.fontSize.magnitude}}"
                                    }
                                ]
                            },
                            "metadata": {
                                "designer": {
                                    "x": 900,
                                    "y": 300
                                },
                                "restore": {
                                    "expect": {
                                        "scope": {
                                            "label": "One cycle"
                                        },
                                        "variables": {
                                            "items": [
                                                null,
                                                null
                                            ]
                                        }
                                    }
                                },
                                "expect": [
                                    {
                                        "name": "variables",
                                        "spec": [
                                            {
                                                "name": "name",
                                                "type": "text",
                                                "label": "Variable name",
                                                "required": true
                                            },
                                            {
                                                "name": "value",
                                                "type": "any",
                                                "label": "Variable value"
                                            }
                                        ],
                                        "type": "array",
                                        "label": "Variables"
                                    },
                                    {
                                        "name": "scope",
                                        "type": "select",
                                        "label": "Variable lifetime",
                                        "required": true,
                                        "validate": {
                                            "enum": [
                                                "roundtrip",
                                                "execution"
                                            ]
                                        }
                                    }
                                ],
                                "interface": [
                                    {
                                        "name": "Title Font",
                                        "type": "any",
                                        "label": "Title Font"
                                    },
                                    {
                                        "name": "Paragraph Font",
                                        "type": "any",
                                        "label": "Paragraph Font"
                                    }
                                ]
                            }
                        },
                        {
                            "id": 15,
                            "module": "markdown:Compile",
                            "version": 2,
                            "parameters": {},
                            "mapper": {
                                "gfm": true,
                                "data": "{{replace(13.text; 13.title; emptystring)}}",
                                "sanitize": false
                            },
                            "metadata": {
                                "designer": {
                                    "x": 1200,
                                    "y": 300
                                },
                                "restore": {
                                    "expect": {
                                        "gfm": {
                                            "mode": "chose"
                                        },
                                        "sanitize": {
                                            "mode": "chose"
                                        }
                                    }
                                },
                                "expect": [
                                    {
                                        "name": "data",
                                        "type": "text",
                                        "label": "Markdown"
                                    },
                                    {
                                        "name": "gfm",
                                        "type": "boolean",
                                        "label": "GitHub Flavored Markdown",
                                        "required": true
                                    },
                                    {
                                        "name": "sanitize",
                                        "type": "boolean",
                                        "label": "Sanitize",
                                        "required": true
                                    }
                                ]
                            }
                        },
                        {
                            "id": 16,
                            "module": "wordpress:createPost",
                            "version": 3,
                            "parameters": {
                                "__IMTCONN__": 3342508
                            },
                            "mapper": {
                                "type": "posts",
                                "title": "{{13.title}}",
                                "author": 3,
                                "format": "image",
                                "status": "draft",
                                "content": "<html>\n<head>\n<style>\n    h1 {\n        font-size: {{14.`Title Font`}}px;\n    }\n    p {\n        font-size: {{14.`Paragraph Font`}}px;\n    }\n</style>\n</head>\n\n<body>\n        <img src=\"{{13.inlineObjects.`kix.66zhbm8wcxxy`.inlineObjectProperties.embeddedObject.imageProperties.contentUri}}\" alt=\"{{13.title}}\">\n\n    <h1>{{13.title}}</h1>\n    <p>{{15.data}}</p>\n</body>\n</html>"
                            },
                            "metadata": {
                                "designer": {
                                    "x": 1500,
                                    "y": 300
                                },
                                "restore": {
                                    "expect": {
                                        "meta": {
                                            "mode": "chose"
                                        },
                                        "tags": {
                                            "mode": "chose"
                                        },
                                        "type": {
                                            "mode": "chose",
                                            "label": "Posts"
                                        },
                                        "author": {
                                            "mode": "chose",
                                            "label": "ben"
                                        },
                                        "format": {
                                            "mode": "chose",
                                            "label": "Image"
                                        },
                                        "status": {
                                            "mode": "chose",
                                            "label": "Draft"
                                        },
                                        "sticky": {
                                            "mode": "chose"
                                        },
                                        "taxonomy": {
                                            "mode": "chose"
                                        },
                                        "categories": {
                                            "mode": "chose"
                                        },
                                        "pingStatus": {
                                            "mode": "chose",
                                            "label": "Empty"
                                        },
                                        "commentStatus": {
                                            "mode": "chose",
                                            "label": "Empty"
                                        }
                                    },
                                    "parameters": {
                                        "__IMTCONN__": {
                                            "data": {
                                                "scoped": "true",
                                                "connection": "wordpress4"
                                            },
                                            "label": "My WordPress connection (rakib)"
                                        }
                                    }
                                },
                                "parameters": [
                                    {
                                        "name": "__IMTCONN__",
                                        "type": "account:wordpress4",
                                        "label": "Connection",
                                        "required": true
                                    }
                                ],
                                "expect": [
                                    {
                                        "name": "title",
                                        "type": "text",
                                        "label": "Title",
                                        "required": true
                                    },
                                    {
                                        "name": "content",
                                        "type": "text",
                                        "label": "Content",
                                        "required": true
                                    },
                                    {
                                        "name": "type",
                                        "type": "select",
                                        "label": "Type",
                                        "required": true
                                    },
                                    {
                                        "name": "excerpt",
                                        "type": "text",
                                        "label": "Excerpt"
                                    },
                                    {
                                        "name": "date",
                                        "type": "date",
                                        "label": "Date"
                                    },
                                    {
                                        "name": "slug",
                                        "type": "text",
                                        "label": "Slug"
                                    },
                                    {
                                        "name": "status",
                                        "type": "select",
                                        "label": "Status"
                                    },
                                    {
                                        "name": "format",
                                        "type": "select",
                                        "label": "Format"
                                    },
                                    {
                                        "name": "parent",
                                        "type": "number",
                                        "label": "Parent object ID"
                                    },
                                    {
                                        "name": "categories",
                                        "type": "select",
                                        "label": "Categories",
                                        "multiple": true
                                    },
                                    {
                                        "name": "tags",
                                        "type": "select",
                                        "label": "Tags",
                                        "multiple": true
                                    },
                                    {
                                        "name": "author",
                                        "type": "select",
                                        "label": "Author"
                                    },
                                    {
                                        "name": "featuredMedia",
                                        "type": "number",
                                        "label": "Featured media ID"
                                    },
                                    {
                                        "name": "template",
                                        "type": "text",
                                        "label": "Template"
                                    },
                                    {
                                        "name": "password",
                                        "type": "text",
                                        "label": "Password"
                                    },
                                    {
                                        "name": "sticky",
                                        "type": "boolean",
                                        "label": "Sticky"
                                    },
                                    {
                                        "name": "commentStatus",
                                        "type": "select",
                                        "label": "Comment status",
                                        "validate": {
                                            "enum": [
                                                "open",
                                                "closed"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "pingStatus",
                                        "type": "select",
                                        "label": "Ping status",
                                        "validate": {
                                            "enum": [
                                                "open",
                                                "closed"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "taxonomy",
                                        "spec": [
                                            {
                                                "name": "name",
                                                "type": "text",
                                                "label": "Name",
                                                "required": true
                                            },
                                            {
                                                "name": "values",
                                                "type": "array",
                                                "label": "Values",
                                                "required": true
                                            }
                                        ],
                                        "type": "array",
                                        "label": "Additional fields"
                                    },
                                    {
                                        "name": "meta",
                                        "spec": [
                                            {
                                                "name": "name",
                                                "type": "text",
                                                "label": "Name",
                                                "required": true
                                            },
                                            {
                                                "name": "value",
                                                "type": "text",
                                                "label": "Value"
                                            }
                                        ],
                                        "type": "array",
                                        "label": "Metadata (custom fields)"
                                    }
                                ]
                            }
                        }
                    ]
                }
            ]
        }
    ],
    "metadata": {
        "instant": true,
        "version": 1,
        "scenario": {
            "roundtrips": 1,
            "maxErrors": 3,
            "autoCommit": true,
            "autoCommitTriggerLast": true,
            "sequential": false,
            "slots": null,
            "confidential": false,
            "dataloss": false,
            "dlq": false,
            "freshVariables": false
        },
        "designer": {
            "orphans": []
        },
        "zone": "us1.make.com",
        "notes": []
    }
}